@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* filter: invert(1); Inverts white to black */
  background-color: #CC76A1;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: contents;
  /* background-color: #bed2eb; */
}



.footer-container {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 40rem 40rem;
  grid-gap: 5rem;
  border-bottom: 1px solid black;
  color: white;
  height: 15vh;
  background-color: #3E517A;
  padding-right: 50px;
  padding-top: 30px;
  padding-left: 50px;

  .footer-title {
    font-size: 1.5rem;
  
    #footer-name {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  
    .footer-sub-title {
      font-size: 0.8rem !important;
      margin-top: 0;
      padding-top: 0;
    }
  }

  .icons-container {
    display: flex;
    gap: 10px;
  }

  .calendely-badge-widget {
    right: 50px !important;
    bottom: 100px !important;
  }
}
